*{
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: #0074d9; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 16px; /* Some padding */
	border-radius: 50%; /* Rounded corners */
	border: 2px solid #0074d9;
}


i.up{
	border: solid #0074d9;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


body{
	overflow-x: hidden;
	/*height: 100vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-perspective: 1px;
	perspective: 1px;*/
}
a, a:hover, a:link, a:visited, a:active{
	text-decoration: none;
}



.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.parallax-container{
	min-height: 500px;
	height:100vh;
}

.parallax img{
	display: block;
	-webkit-filter: blur(5px) grayscale(40%);
	filter: blur(5px) grayscale(40%);
}

#contactPage{
	-webkit-filter: blur(0px) grayscale(40%);
	filter: blur(0px) grayscale(40%);
}

.navi{
	z-index: 1;
	position: absolute;
	top: 0;
    right: 0;
    font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0);
}

.navbar a:hover{
	font-weight: bold;
	color: #002b50;
}

.navbar a{
	color: #ffffff;
}

li.nav-item a{
	font-size: 1.5rem;
}

.nameHeader{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
    font-size: 3.15rem;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	
}

.name{
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 0.4;
	color: #fff;
}

.subheadingName{
	position: relative;
	top:250px;
	color: #0074d9;
}

.resume{
	font-size: 2rem;
}

label.visitWeb{
	padding: 1rem;
}

.visitWeb a{
	color: #0074d9;
	font-size: 1.5rem;
    border: 2px solid;
    padding: 0px 5px;
    text-decoration: none;
}

.resume a{
	color: #0074d9;
	border: 2px solid; 
	padding: 8px;
	text-decoration: none;
	transition: 0.3s;
}

.resume a:hover, .resume a:active, .visitWeb a:hover, .visitWeb a:active {
	background: #0074d9;
	color: white;
	border-color: #0074d9;
}

.menuBtn{
	z-index: 1;
	font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0.5em;
    color: #ffffff;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.vertical-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.h1Title{
	margin-bottom: 2rem;
	text-decoration: underline;
}


.footer{
	color: #ffffff;
	min-height: 250px;
	background-color: black;
	z-index: 0;
}

#greet{
	color: #ffffff;
	font-size: 8rem;
	margin: 0 6rem;
}
.footerNav{
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.footerNav:hover, .footerNav:active, .footerNav:focus{
	text-decoration: none;
	color: tomato;
	font-weight: bold;
}

.general{
	-webkit-transition: -webkit-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.general:hover{
	transform: scale(1.2);
	transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.facebook{
	color: #3b5998;
	transition: 0.4s;
}
.facebook:hover{
	color: #3b5998;
}
.twitter{
	color: #00aced;
	transition: 0.4s;
}
.twitter:hover{
	color: #00aced;
}
.google-plus{
	color: #d34836;
	transition: 0.4s;
}
.google-plus:hover{
	color: #d34836;
}
.linkedin{
	color: #4875B4;
	transition: 0.4s;
}
.linkedin:hover{
	color: #4875B4;
}

.socialMedia label{
	font-size: 2em;
	color: #ffffff;
}

.socialMedia a{
	color: inherit;
}

.educationPara{
	margin-bottom: 0rem;
}

.projectDesc{
	display: block;
    unicode-bidi: embed;
    white-space: pre-wrap;
}

.email{
	font-size: 2rem;
}


/*
.fa-facebook-square{
	color: #3b5998;
}

.fa-twitter-square{
	color: #00aced;
}

.fa-google-plus-square{
	color: #d34836;
}

.twitter .fa-square-o{
	color: #00aced;
}

.footerSocialIcons{
	border-radius: 50%;
    padding: 6px;
    
}

.fa-twitter{
	color: #00aced;
    border: 4px solid #00aced;
    transition: 0.2s;
}

.fa-facebook{
	color: #3b5998;
    border: 4px solid #3b5998;
    transition: 0.2s;
}

.fa-google-plus{
	color: #d34836;
    border: 4px solid #d34836;
    transition: 0.2s;
}

.fa-twitter:hover{
	color: #ffffff;
	border: 4px solid #00aced;
	background: #00aced;
}

.fa-facebook:hover{
	color: #ffffff;
	border: 4px solid #3b5998;
	background: #3b5998;
}

.fa-google-plus:hover{
	color: #ffffff;
	border: 4px solid #d34836;
	background: #d34836;
}
*/


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* For extra-small and small*/
@media (max-width: 767px) {
	.nameHeader{
		font-size: 1.9rem;
	}

	.name{
		font-size: 3rem;
	}

	.resume a{
		font-size: 1.4rem;
	}

	.socialMedia{
		font-size: 0.8rem;
	}

	.img-fluid{
		max-width: 75%;
	}

	.footer{
		color: #ffffff;
		min-height: 250px;
		height: 100vh;
	}

	

}
@media (max-width: 499px) {
	#contactPage{
		bottom:20px;
		left: 70%;
	}
	#greet{
		font-size: 3rem;
		margin: 0 2.5rem;
	}
	.email{
		font-size: 1.6rem;
	}
}
@media (min-width: 500px) and (max-width: 749px) {
	#contactPage{
		left: 70%;
	}
	#greet{
		font-size: 5rem;
		margin: 0 2.5rem;
	}
	.email{
		font-size: 2.5rem;
	}
}
@media (min-width: 750px) and (max-width: 1100px) {
	#contactPage{
		left: 70%;
	}
	#greet{
		font-size: 8rem;
		margin: 0 2.5rem;
	}
	.email{
		font-size: 2rem;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .nameHeader{
		opacity: 1;
	}

	.name{
		opacity: 1;
	}

	.resume{
		opacity: 1;
	}

	
}
