<div ng-controller="AboutCtrl">
  <div class="parallax-container">    
    <div class="vertical-center text-xs-center nameHeader">
      
      <div class="name">
        Alif Momin
      </div>
      <div class="subheadingName">
        Designer. Developer.
      </div>
      <p class="resume">
        <a href="#">Download Resume</a>
      </p>

    </div>
    <div class="parallax">
      <img data-ng-src="img/main-image2.jpg" id="indexImage">
    </div>
  </div>
  <div class="section white">
    <div class="container">
      <div class="text-xs-center" ng-show="loading">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-xs-center" ng-show="!loading">
        <h1 ng-bind="data.$id" style="margin-bottom: 2rem;"></h1>
        <!-- <li ng-repeat="x in data">
          {{x.name}} - <img ng-src="{{x.url}}">
        </li> -->
        <div class="col-xs-6 col-md-2" ng-repeat="x in data">
          <img ng-src="{{x.url}}" class="img-fluid" width="100px" height="100px" />
          <p ng-bind="x.name"></p>
        </div>
      </div>

      <hr ng-show="!loading" />

      <div class="row text-xs-center" ng-show="!loading">
        <h1 ng-bind="eduDetails.$id" style="margin-bottom: 2rem;"></h1>
        <div class="col-xs-12" ng-repeat="eduDetail in eduDetails">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <img class="img-fluid" ng-src="{{eduDetail.imageUrl}}">
            </div>
             <div class="col-sm-12 col-md-8" class="eduDetailText">
              <h4 ng-bind="eduDetail.college"></h4>
              <p class="educationPara">{{eduDetail.degree}} in {{eduDetail.program}}</p>
              <p class="educationPara">{{eduDetail.length}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>
<script type="text/javascript">
    
  $(document).ready(function(){
    $(".name").css("opacity", 0);
    $(".subheadingName").css("opacity", 0);
    $(".resume").css("opacity", 0);
    $('.parallax').parallax();

    $("#indexImage").load(function(){
      $(".name").delay(800).animate({opacity: 1}, 1500, "linear").delay(50, function(){
        $(".subheadingName").delay(150).animate({opacity: 1, top: '0px'}, 1000, "linear").delay(50, function(){
          $(".resume").animate({opacity: 1}, 1000, "linear");
        });

      });
    });
  });
</script>